<html>
  <head>
    <title>INDEX</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="/vue.js"></script>
    <script src="/axios.min.js"></script>
    <script src="/Chart.js"></script>
  </head>
  <body>
    <div id="app">
      <div style="border:1px solid black">
        exp name<input v-model.trim="req.exp" />
        <select
          v-model.trim="req.exp"
          @input="$nextTick(()=>{load(); loadAvgStat()})"
        >
          <option v-for="exp in expList" :value="exp.name" :title="exp">{{
            exp.name
          }}</option>
        </select>
        <button @click="load(); loadAvgStat()">load data</button> <br />
        current step<input v-model.number="step" /> step delta<input
          v-model.number="ddstep"
        /><br />
        <input type="checkbox" v-model="sh.map.hero" /><label>hero</label>
        <input type="checkbox" v-model="sh.map.monster" /><label>monster</label>
        <input type="checkbox" v-model="sh.map.fortress" /><label
          >fortress</label
        ><br />
        <input v-model.number="hist.count" />
        <button @click="showClear">
          show hist
        </button>
        <br />
        <input v-model.number="hist.start" />
        <input v-model.number="hist.end" /><button @click="showFullClear">
          show fclear
        </button>
        <br />
        <button @click="mapShow()">show map</button>
        <button @click="step+=ddstep; mapShow()">+ step map</button>
        <button @click="step-=ddstep; mapShow()">- step map</button><br />
        <div
          v-for="stat in Object.keys(sh.avg)"
          :key="stat"
          style="display: inline"
        >
          <input type="checkbox" v-model="sh.avg[stat]" />
          <label @click="sh.avg[stat]=!sh.avg[stat]">{{ stat }}</label>
        </div>
        <br />
        <button @click="showAvg()">show avg</button>
        <select v-model="chartType.x">
          <option value="linear">linear</option>
          <option value="logarithmic">logarithmic</option>
        </select>
        <select v-model="chartType.y">
          <option value="linear">linear</option>
          <option value="logarithmic">logarithmic</option>
        </select>
        <br />
        {{ eInfo }} <input v-model.number="ent.id" /> <br />
        <input type="checkbox" v-model="sh.hp.hp" /> <label>hp</label>
        <input type="checkbox" v-model="sh.hp.hp_max" /> <label>hp max</label>
        <input type="checkbox" v-model="sh.hp.hp_per_step" />
        <label>hp per step</label>
        <input type="checkbox" v-model="sh.hp.live_time" /><label
          >livetime</label
        >
        <button @click="showHP">show HP</button><br />
        <input type="checkbox" v-model="sh.dmg.dmg" /><label>Damage</label>
        <input type="checkbox" v-model="sh.dmg.rad" /><label>Radius</label>
        <input type="checkbox" v-model="sh.dmg.def" /><label>Defeated</label>
        <button @click="showDMG">show DMG</button><br />
        <select v-model="corMap.st1">
          <option v-for="stat in statList" :value="stat">{{ stat }}</option>
        </select>
        <select v-model="corMap.st2">
          <option v-for="stat in statList" :value="stat">{{
            stat
          }}</option> </select
        ><br />
      </div>
      <table>
        <tr>
          <td style="border: 1px solid black">
            <div style="position: relative; height:300px; width:500px">
              <canvas ref="gr1"></canvas>
            </div>
          </td>
          <td style="border: 1px solid black">
            <div style="position: relative; height:300px; width:500px">
              <canvas ref="gr2"></canvas>
            </div>
          </td>
        </tr>
        <tr>
          <td style="border: 1px solid black">
            <div style="position: relative; height:300px; width:500px">
              <canvas ref="gr"></canvas>
            </div>
          </td>
          <td style="border: 1px solid black">
            <div style="position: relative; height:300px; width:500px">
              <canvas ref="gr3"></canvas>
            </div>
          </td>
        </tr>
        <tr>
          <td style="border: 1px solid black">
            <div style="position: relative; height:300px; width:500px">
              <canvas ref="gr4"></canvas>
            </div>
          </td>
          <td style="border: 1px solid black">
            <div style="position: relative; height:300px; width:500px">
              <canvas ref="gr5"></canvas>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <script src="/App.js"></script>
  </body>
</html>
